.intro-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* cursor: none; */
}

.main-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.intro-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  padding: 20px;
  z-index: 1;
  color: white;
}

.intro-text-box {
  display: flex;
  margin-bottom: 20px;
}

.intro-text-box div:first-child {
  min-width: 100px;
  margin-right: 20px;
}

.mouse-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.x {
  width: 100vw;
  height: 1px;
  position: absolute;
  left: 0px;
  /* top: *px; */
  border-bottom: 1.5px solid white;
  opacity: 0.4;
}

.y {
  height: 100vh;
  width: 1px;
  position: absolute;
  top: 0px;
  /* left: *px; */
  border-right: 1.5px solid white;
  opacity: 0.4;
}

.center {
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translate(-45%, -45%);
  background-color: green;
  opacity: 0.7;
}

.center div {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.intro-canvas-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover !important;
  background: url(https://images.unsplash.com/photo-1611477623565-aa88aeca8153?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8);
}
